-- if we delete a row of users table(if that id referenced by foreign key of photos table),, then it will through an error

DELETE users
WHERE id = 2; 


-- we can delete the whole table using DROP keyword then TABLE keyword and at last the name of the table,
DROP TABLE photos;